.box
	article.media
		figure.media-left
			figure.image.is-128x128
				if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
					img.image.lazy(src=process.env.S3_STATIC_URL+'/img/yardsale_poster.jpg' data-src=process.env.S3_IMAGES_URL+'/'+yardsale.user.username+'/'+yardsale.imagename alt='yard sale')
				else
					picture
						source(srcset=process.env.S3_STATIC_URL+'/img/yardsale_poster.webp' type='image/webp')
						source(srcset=process.env.S3_STATIC_URL+'/img/yardsale_poster.jpg' type='image/jpeg')
						img.image.lazy(src=process.env.S3_STATIC_URL+'/img/yardsale_poster.jpg' alt='Yard Sale')
		.media-content
			.content
				p Location:&nbsp;&nbsp;
					strong #{yardsale.city}, #{yardsale.state}&nbsp;
				p Date:&nbsp;&nbsp;
					strong #{yardsale.date.toDateString()}&nbsp;
				p #{yardsale.description}
		.media-right
