.box
	article.media
		figure.media-left
			figure.image.is-128x128
				a(href='/yardsales/'+yardsale._id)
					if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
						img(src='https://'+process.env.S3_IMAGES_URL+'/'+yardsale.user.username+'/'+yardsale.imagename alt='yard sale')
					else
						img(src='/img/yardsale_poster.jpg' alt='yard sale')
		.media-content
			.content
				p Location:&nbsp;&nbsp;
					strong #{yardsale.full_address}
				p Date:&nbsp;&nbsp;
					strong #{yardsale.date.toDateString()}
				p Start Time:&nbsp;
					if parseInt(yardsale.starttime) < 12
						strong #{parseInt(yardsale.starttime)} AM
					else
						if parseInt(yardsale.starttime) - 12 === 0
							strong #{parseInt(yardsale.starttime)} PM
						else
							strong #{parseInt(yardsale.starttime) - 12} PM
				p #{yardsale.description}
			nav.level.is-mobile
				.level-left
					a.level-item(href='/yardsales/'+yardsale._id) view details
		.media-right
			include favorites_button
