.box
	article.media
		figure.media-left
			figure.image.is-128x128
				a(href='/yardsales/'+yardsale._id)
					if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
						img.lazy(src='/img/yardsale_poster.jpg' data-src=process.env.S3_IMAGES_URL+'/'+yardsale.user.username+'/'+yardsale.imagename alt='Yard Sale')
					else
						picture
							source(srcset='/img/yardsale_poster.webp' type='image/webp')
							source(srcset='/img/yardsale_poster.jpg' type='image/jpg')
							img.lazy(src='/img/yardsale_poster.jpg' alt='Yard Sale')
		.media-content
			.content
				p Location:&nbsp;&nbsp;
					strong #{yardsale.full_address}
				.level
					.level-left
						p Date:&nbsp;&nbsp;
							strong #{yardsale.date.toDateString()}
					.level-item
						if parseInt(yardsale.starttime) < 12
							p Start Time:&nbsp;
								strong #{parseInt(yardsale.starttime)} AM
						else
							if parseInt(yardsale.starttime) - 12 === 0
								p Start Time:&nbsp;
									strong #{parseInt(yardsale.starttime)} PM
							else
								p Start Time:&nbsp;
									strong #{parseInt(yardsale.starttime) - 12} PM
				p #{yardsale.description}
			nav.level.is-mobile
				.level-left
					a.level-item(href='/yardsales/'+yardsale._id) view details
		.media-right
			include favorites_button
