nav.panel.is-hidden-mobile
	p.panel-heading #{yardsale.user.username}&nbsp;&nbsp;
		small
			a(href='/users/' + yardsale.user._id +'/profilepic') upload picture
			// TODO - Possibly add a modal here
	.panel-block
		if (yardsale.user.profilepic !== undefined && yardsale.user.profilepic !== '' && yardsale.user.profilepic !== null)
			img.is-128x128(src='https://s3.amazonaws.com/yardy-pics/'+yardsale.user.username+'/'+yardsale.user.profilepic alt='profile picture')
		else
			img.is-128x128(src='/images/blank_profile.png' alt='profile picture')
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Full Name:&nbsp;] #{yardsale.user.firstName} #{yardsale.user.lastName}
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Username:&nbsp;] #{yardsale.user.username}
	a.panel-block
		span.panel-icon
			i.fas.fa-envelope(aria-hidden=true)
		p #[strong Email:&nbsp;] #{yardsale.user.email}
	a.panel-block
		span.panel-icon
			i.fas.fa-phone(aria-hidden=true)
		p #[strong Phone:&nbsp;] #{yardsale.user.phone}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Address:&nbsp;] #{yardsale.user.address}
	if (yardsale.user.address2 !== '')
		a.panel-block
			span.panel-icon
				i.fas.fa-map-marker(aria-hidden=true)
			p #[strong Address 2:&nbsp;] #{user.address2}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong City:&nbsp;] #{yardsale.user.city}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong State:&nbsp;] #{yardsale.user.state}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Zip Code:&nbsp;] #{yardsale.user.zipcode}
