nav.panel.is-hidden-mobile
	p.panel-heading #{user.username}&nbsp;&nbsp;
		small
			a(href='/users/' + user._id +'/profilepic') upload picture
			// TODO - Possibly add a modal here
	.panel-block
		if (user.profilepic !== undefined)
			img.is-128x128(src='https://s3.amazonaws.com/yardy-pics/'+user.username+'/'+user.profilepic alt='profile picture')
		else
			img.is-128x128(src='/images/blank_profile.png' alt='profile picture')
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Full Name:&nbsp;] #{user.firstName} #{user.lastName}
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Username:&nbsp;] #{user.username}
	a.panel-block
		span.panel-icon
			i.fas.fa-envelope(aria-hidden=true)
		p #[strong Email:&nbsp;] #{user.email}
	a.panel-block
		span.panel-icon
			i.fas.fa-phone(aria-hidden=true)
		p #[strong Phone:&nbsp;] #{user.phone}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Address:&nbsp;] #{user.address}
	if (user.address2 !== '')
		a.panel-block
			span.panel-icon
				i.fas.fa-map-marker(aria-hidden=true)
			p #[strong Address 2:&nbsp;] #{user.address2}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong City:&nbsp;] #{user.city}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong State:&nbsp;] #{user.state}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Zip Code:&nbsp;] #{user.zipcode}
