nav.panel.is-hidden-mobile
	p.panel-heading #{current_user.username}&nbsp;&nbsp;
		br
		small
			a(href='/users/' + current_user._id +'/profilepic') upload picture
	.panel-block
		if (current_user.twitter.token)
			img(src=current_user.profilepic alt='profile picture' height=128 width=128)
		else if (current_user.profilepic !== undefined && current_user.profilepic !== null && current_user.profilepic !== '')
			img.is-128x128(src=process.env.S3_IMAGES_URL+'/'+current_user.username+'/'+current_user.profilepic alt='profile picture')
		else
			picture
				source(srcset=process.env.S3_STATIC_URL+'/img/blank_profile.webp' type='image/webp')
				source(srcset=process.env.S3_STATIC_URL+'/img/blank_profile.png' type='image/png')
				img.is-128x128(src=process.env.S3_STATIC_URL+'/img/blank_profile.png' alt='Profile Picture')
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Full Name:&nbsp;] #{current_user.firstName} #{current_user.lastName}
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Username:&nbsp;] #{current_user.username}
	a.panel-block
		span.panel-icon
			i.fas.fa-envelope(aria-hidden=true)
		p #[strong Email:&nbsp;] #{current_user.email}
	a.panel-block
		span.panel-icon
			i.fas.fa-phone(aria-hidden=true)
		p #[strong Phone:&nbsp;] #{current_user.phone}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker-alt(aria-hidden=true)
		p #[strong Address:&nbsp;] #{current_user.address}
	if (current_user.address2 !== '')
		a.panel-block
			span.panel-icon
				i.fas.fa-map-marker-alt(aria-hidden=true)
			p #[strong Address 2:&nbsp;] #{current_user.address2}
	a.panel-block
		span.panel-icon
			i.fas.fa-city(aria-hidden=true)
		p #[strong City:&nbsp;] #{current_user.city}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker-alt(aria-hidden=true)
		p #[strong State:&nbsp;] #{current_user.state}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker-alt(aria-hidden=true)
		p #[strong Zip Code:&nbsp;] #{current_user.zipcode}
	if (current_user.facebook.token)
		a.panel-block
			span.panel-icon
				i.fab.fa-facebook(aria-hidden=true)
			p.has-text-info #[strong Facebook:&nbsp;] #{current_user.facebook.email}
	if (current_user.twitter.token)
		a.panel-block(href='https://twitter.com/'+current_user.twitter.username)
			span.panel-icon
				i.fab.fa-twitter(aria-hidden=true)
			p.has-text-info #[strong Twitter:&nbsp;] #{current_user.twitter.username}
	.panel-block
		button.button.is-danger.is-outlined.is-fullwidth Delete Account
