nav.panel.is-hidden-mobile
	p.panel-heading #{yardsale.user.username}&nbsp;&nbsp;
		small
			a(href='/users/' + yardsale.user._id +'/profilepic') upload picture
			// TODO - Possibly add a modal here
	.panel-block
		if (yardsale.user.profilepic !== undefined && yardsale.user.profilepic !== '' && yardsale.user.profilepic !== null)
			img.is-128x128(src='https://s3.amazonaws.com/yardy-pics/'+yardsale.user.username+'/'+yardsale.user.profilepic alt='profile picture')
		else
			img.is-128x128(src='/images/blank_profile.png' alt='profile picture')
	.panel-block
		p.control.has-icons-left
			input.input.is-small(type='text' placeholder='search')
			span.icon.is-small.is-left
				i.fas.fa-search(aria-hidden=true)
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Username: ] #{yardsale.user.username}
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong First Name: ] #{yardsale.user.firstName}
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Last Name: ] #{yardsale.user.lastName}
	a.panel-block
		span.panel-icon
			i.fas.fa-envelope(aria-hidden=true)
		p #[strong Email: ] #{yardsale.user.email}
	a.panel-block
		span.panel-icon
			i.fas.fa-phone(aria-hidden=true)
		p #[strong Phone: ] #{yardsale.user.phone}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Address: ] #{yardsale.user.address}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Address 2: ] #{yardsale.user.address2}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong City: ] #{yardsale.user.city}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong State: ] #{yardsale.user.state}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Zip Code: ] #{yardsale.user.zipcode}
