nav.panel.is-hidden-mobile
	p.panel-heading Profile&nbsp;&nbsp;
		small
			a(href='/users/' + user._id + '/profilepic') upload picture
		//.modal
		//	.modal-background
		//	.modal-content
		//
		//	button.modal-close.is-large(aria-label='close')
	.panel-block
		//img(src='/images/blank_profile.png' alt='profile picture' height=250 width=250)
		img(src='https://s3.amazonaws.com/yardy123/'+user.username+'/'+user.profilepic alt='profile picture')
		//img(src='https://s3.amazonaws.com/yardy123/molly.jpeg' alt='profile picture')

	.panel-block
		p.control.has-icons-left
			input.input.is-small(type='text' placeholder='search')
			span.icon.is-small.is-left
				i.fas.fa-search(aria-hidden=true)
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Username: ] #{user.username}
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong First Name: ] #{user.firstName}
	a.panel-block
		span.panel-icon
			i.fas.fa-user(aria-hidden=true)
		p #[strong Last Name: ] #{user.lastName}
	a.panel-block
		span.panel-icon
			i.fas.fa-envelope(aria-hidden=true)
		p #[strong Email: ] #{user.email}
	a.panel-block
		span.panel-icon
			i.fas.fa-phone(aria-hidden=true)
		p #[strong Phone: ] #{user.phone}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Address: ] #{user.address}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Address 2: ] #{user.address2}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong City: ] #{user.city}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong State: ] #{user.state}
	a.panel-block
		span.panel-icon
			i.fas.fa-map-marker(aria-hidden=true)
		p #[strong Zip Code: ] #{user.zipcode}
