extends layout

block content
	section.section
		.container
			include components/title_user
			include components/panel
			.columns
				.column.is-one-quarter
					include components/sidebar
				.column.is-three-quarters
					include components/errors
					if yardsales
						each yardsale in yardsales
							.box
								article.media
									figure.media-left
										figure.image.is-128x128
											a(href='/yardsales/'+yardsale._id)
												if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
													img(src='https://'+process.env.S3_BUCKET+'.s3.amazonaws.com/'+user.username+'/'+yardsale.imagename alt='yard sale')
												else
													img(src='/img/yardsale_poster.jpg' alt='yard sale')
									.media-content
										.content
											p
												strong #{yardsale.full_address}
											p
												strong Date: #{yardsale.date.toDateString()}
											if parseInt(yardsale.starttime) < 12
												p #[strong Start Time:&nbsp;] #{parseInt(yardsale.starttime)} AM
											else
												if parseInt(yardsale.starttime) - 12 === 0
													p #[strong Start Time:&nbsp;] #{parseInt(yardsale.starttime)} PM
												else
													p #[strong Start Time:&nbsp;] #{parseInt(yardsale.starttime) - 12} PM
											if parseInt(yardsale.endtime) < 12
												p #[strong End Time:&nbsp;] #{parseInt(yardsale.endtime) - 12} AM
											else
												if parseInt(yardsale.endtime) - 12 === 0
													p #[strong End Time:&nbsp;] #{parseInt(yardsale.endtime)} PM
												else
													p #[strong End Time:&nbsp;] #{parseInt(yardsale.endtime) - 12} PM
											p #{yardsale.description}
										nav.level.is-mobile
											.level-left
												a.level-item(href='/yardsales/' + yardsale._id) view details
									.media-right
										.buttons
											a(href='/yardsales/'+yardsale._id+'/update') edit
											.divider
											a.delete(href='/yardsales/'+yardsale._id+'/delete')
		include components/errors
