extends layout

block content
	section.section
		.container
			include components/panel
			.columns
				.column.is-one-quarter
					include components/sidebar
				.column.is-three-quarters
					include components/map
					br
					if favorites_list !== undefined
						each favorite in favorites_list
							.box
								article.media
									figure.media-left
										figure.image.is-128x128
											a(href='/yardsales/' + favorite.yardsale._id)
												if (favorite.yardsale.imagename !== undefined && favorite.yardsale.imagename !== '' && favorite.yardsale.imagename !== null)
													img.image.lazy(src='/images/yardsale_poster.jpg' data-src=process.env.S3_IMAGES_URL+'/'+favorite.yardsale.user.username+'/'+favorite.yardsale.imagename alt='Favorite Yard Sale')
												else
													picture
														source(srcset='/images/yardsale_poster.webp' type='image/webp')
														source(srcset='/images/yardsale_poster.jpg' type='image/jpeg')
														img.image(src='/images/yardsale_poster.jpg' alt='Favorite Yard Sale')
									.media-content
										.content
											p Location:&nbsp;&nbsp;
												strong #{favorite.yardsale.full_address}
											p Date:&nbsp;&nbsp;
												strong #{favorite.yardsale.date.toDateString()}
											p Host:&nbsp;&nbsp;
												strong #{favorite.yardsale.user.username}
											p #{favorite.yardsale.description}
										nav.level.is-mobile
											.level-left
												a.level-item(href='/yardsales/' + favorite.yardsale._id) view details
									.media-right
										// Delete Favorite Form
										//- form(method='POST' action='')
										input(type='hidden' name='_id' value=favorite._id)
										//- 	input(type='hidden' name='yardsaleId' value=favorite.yardsale._id)
										//- 	input(type='hidden' name='userId' value=favorite.user._id)
										a.button.is-danger.is-rounded(href='/favorites/' + current_user._id + '/delete/' + favorite._id)
											span.icon
												i.fas.fa-trash
					else
						h1.subtitle.has-text-centered
							strong.has-text-danger You have not added any yard sales to your favorites yet.
			br
