extends layout

block content
	section.section
		.container
			include components/title_user
			include components/panel
			.columns
				.column.is-one-quarter
					include components/sidebar
				.column.is-three-quarters
					include components/map
					br
					if favorites && isAuthenticated
						for favorite in favorites
							.box
								article.media
									figure.media-left
										figure.image.is-128x128
											a(href='/yardsales/' + yardsale._id)
												if (favorite.yardsale.imagename !== undefined)
													img.image.lazy(src='/images/yardsale_poster.jpg' data-src=process.env.S3_IMAGES_URL+'/'+favorite.yardsale.user.username+'/'+favorite.yardsale.imagename alt='Favorite Yard Sale')
												else
													picture
														source(srcset='/images/yardsale_poster.webp' type='image/webp')
														source(srcset='/images/yardsale_poster.jpg' type='image/jpeg')
														img.image(src='/images/yardsale_poster.jpg' alt='Favorite Yard Sale')
									.media-content
										.content
											p Location:&nbsp;&nbsp;
												strong #{favorite.yardsale.full_address}
											p Date:&nbsp;&nbsp;
												strong #{favorite.yardsale.date.toDateString()}
											p Host:&nbsp;&nbsp;
												strong #{favorite.yardsale.user.username}
											p #{favorite.yardsale.description}
										nav.level.is-mobile
											.level-left
												a.level-item(href='/yardsales/' + favorite.yardsale._id) view details
									.media-right
										form(method='POST' action='')
											input(type='hidden' name='favId' required='true' value=favorite._id)
											input(type='hidden' name='yardsaleId' value=favorite.yardsale._id)
											input(type='hidden' name='userId' value=favorite.user._id)
											button.button.is-danger.is-rounded(type='submit')
												span.icon
													i.fas.fa-trash
					else
						h1.subtitle.has-text-centered
							strong.has-text-danger You have not added any yard sales to your favorites yet.
			br
