extends layout

block content
	.container
		.columns
			.column.is-one-third
			.column.is-one-third
				h1.subtitle.has-text-centered
					strong= title
				form(method="post" action=is_first_step ? "/users/reset" : "/users/resetfinal")
					if is_first_step
						p Please enter your username and email. If they match a user, you will be redirected to the password reset page.
						br
						.field
							label.label Username
							.control.has-icons-left.has-icons-right
								input.input(type="text" placeholder="johndoe" name="username" required=is_first_step value=(undefined === user ? "" : user.username))
								span.icon.is-small.is-left
									i.fas.fa-user
						.field
							label.label E-mail:
							.control.has-icons-left.has-icons-right
								input.input(type="email" placeholder="johndoe@john.doe" name="email" required=is_first_step value=(undefined === user ? "" : user.email))
								span.icon.is-small.is-left
									i.fas.fa-envelope
					if is_second_step
						p Almost there. Enter your new password twice and you're good to go!
						br
						.field
							label.label New Password:
							.control.has-icons-left.has-icons-right
								input#password.input(type="password" name="password" required=is_second_step)
								span.icon.is-small.is-left
									i.fas.fa-lock
						.field
							label.label Confirm New Password:
							.control.has-icons-left.has-icons-right
								input#password_confirm.input(type="password" name="cpassword" required=is_second_step)
								span.icon.is-small.is-left
									i.fas.fa-lock
						input(type="hidden" name="userid" value=user._id)
					br
					button.button.is-link(type="submit") #{is_first_step ? "Next" : "Done"}
				br
				if errors
					ul
						for error in errors
							li.has-text-danger!= error.msg
			.column.is-one-third
