extends layout

block content

    // Main content
    .container
        h1.subtitle
            strong= title
        .columns
            .column.is-one-third
            .column.is-one-third
                br
                form(method='POST' action='')
                    .field
                        label.label Email
                        .control
                            input.input(id='email' type='email' name='email' placeholder='naricci@email.neit.edu' maxlength='25' required value=(undefined===user ? '' : user.email))
                    .field
                        label.label Username
                        .control
                            input.input(id='username' type='text' name='username' placeholder='naricci' minlength='4' maxlength='25' required value=(undefined===user ? '' : user.username))
                    .field
                        label.label First Name
                        .control
                            input.input(id='firstname' type='text' name='firstname' placeholder='John' maxlength='25' value=(undefined === user ? '' : user.firstName))
                    .field
                        label.label Last Name
                        .control
                            input.input(id='lastname' type='text' name='lastname' placeholder='Doe' maxlength='25' value=(undefined === user ? '' : user.lastName))
                    .field
                        label.label #{is_update_form ? 'Confirm New Phone:' : 'Phone:'}
                        .control
                            input.input(id='phone' type='tel' name='phone' placeholder='4028287902' maxlength='10' value=(undefined===user ? '' : user.phone))
                    .field
                        label.label #{is_update_form ? 'Confirm New Address:' : 'Address:'}
                        .control
                            input.input(id='address' type='text' name='address' maxlength='250' placeholder='123 Yardy Street' value=(undefined===user ? '' : user.address))
                    .field
                        label.label #{is_update_form ? 'Confirm New Address 2:' : 'Address 2:'}
                        .control
                            input.input(id='address2' type='text' name='address2' maxlength='250' value=(undefined===user ? '' : user.address2))
                    .field
                        label.label #{is_update_form ? 'Confirm New City:' : 'City:'}
                        .control
                            input.input(id='city' type='text' name='city' placeholder='Providence' value=(undefined===user ? '' : user.city))
                    .field
                        label.label #{is_update_form ? 'Confirm New State:' : 'State:'}
                        .control
                            select.input(name='state')
                                option(value="" selected=(undefined === user || user.state !== '' ? false : 'selected')) Select State
                                option(value='CT' selected=(undefined === user || user.state !== 'CT' ? false : 'selected')) CT
                                option(value='MA' selected=(undefined === user || user.state !== 'MA' ? false : 'selected')) MA
                                option(value='ME' selected=(undefined === user || user.state !== 'ME' ? false : 'selected')) ME
                                option(value='NH' selected=(undefined === user || user.state !== 'NH' ? false : 'selected')) NH
                                option(value='RI' selected=(undefined === user || user.state !== 'RI' ? false : 'selected')) RI
                    .field
                        label.label #{is_update_form ? 'Confirm New Zip Code:' : 'Zip Code:'}
                        .control
                            input.input(id='zipcode' type='text' name='zipcode' placeholder='02818' minlength='5' maxlength='5' value=(undefined===user ? '' : user.zipcode))

                    if is_update_form
                        hr
                        p Use the fields below if you want to change your password, too. Otherwise, leave blank.
                        hr

                    .field
                        label.label #{is_update_form ? 'New Password:' : 'Password:'}
                        .control
                            input.input(id='password' type='password' name='password' )
                    .field
                        label.label #{is_update_form ? 'Confirm New Password:' : 'Confirm Password:'}
                        .control
                            input.input(id='cpassword' type='password' name='cpassword' )

                    .field
                        .control
                            button.is-primary(type='submit')
                                | Submit
                    br
                    br
                    br
                    if errors
                        ul
                            for error in errors
                                li!= error.msg
            .column.is-one-third