extends layout

block content
	// Main content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong #{user.username} | #{title}
			// .tabs.is-centered.is-hidden-desktop.is-hidden-widescreen.is-hidden-fullhd
			.tabs.is-centered.is-boxed
				ul
					li
						a(href='/users/' + user._id + '/update')
							span.icon.is-small
								i.fas.fa-pen(aria-hidden='true')
							span edit
					li.is-active
						a(href='/users/' + user._id)
							span.icon.is-small
								i.fas.fa-bookmark(aria-hidden='true')
							span yardsales
					li
						a(href='/users/' + user._id + '/favorites')
							span.icon.is-small
								i.fas.fa-heart(aria-hidden='true')
							span favorites
			.columns
				.column.is-one-quarter
					include sidebar

				.column.is-three-quarters
					h1
						strong Your Yard Sales
					br

					if yardsales
						each yardsale in yardsales
							br
							article.media
								figure.media-left
									p.image.is-64x64
										img(src='https://s3.amazonaws.com/yardy123/'+user.username+'/'+yardsale.imagename alt='picture of yardsale')
								.media-content
									.content
										p
											strong #{yardsale.city}&nbsp;
											small #{yardsale.date}&nbsp;&nbsp;
											small #{yardsale.starttime}
											br
										p Posted by #{user.username}
										p #{yardsale.description}
									nav.level.is-mobile
										.level-left
											a.level-item
												span.icon.is-small
													i.fas.fa-envelope
											a.level-item
												span.icon.is-small
													i.fab.fa-twitter
											a.level-item
												span.icon.is-small
													i.fas.fa-heart
								.media-right
									//ion-icon(name='create' size='large')
									a(href='/catalog/yardsale/'+yardsale._id+'/update') edit&nbsp;&nbsp;
									//button.delete
									a.delete(href='/catalog/yardsale/'+yardsale._id+'/delete')
							hr
