extends layout

block content

    // Main content
    .container
        .columns
            .column.is-one-third
            .column.is-one-third

                .alert.has-text-warning(role='alert' id="msgDiv")
                br

                form(role='form' method='POST' action='')
                    .field
                        label.label Email
                        .control.has-icons-left.has-icons-right
                            input.input(id='email' type='email' name='email' placeholder='naricci@email.neit.edu' required value=(undefined===user ? '' : user.email))
                    .field
                        label.label Username
                        .control.has-icons-left.has-icons-right
                            input.input(id='username' type='text' name='username' placeholder='naricci' required value=(undefined===user ? '' : user.username))
                            span.icon.is-small.is-left
                                i.fas.fa-user

                    //if is_update_form
                        hr
                        p Use the fields below if you want to change your password, too. Otherwise, leave blank.
                        hr

                    .field
                        label.label #{is_update_form ? 'New Password:' : 'Password:'}
                        .control
                            input.input(id='password' type='password' name='password' )
                    .field
                        label.label #{is_update_form ? 'Confirm New Password:' : 'Confirm Password:'}
                        .control
                            input.input(id='cpassword' type='password' name='cpassword' )
                    .field
                        label.label #{is_update_form ? 'Confirm New Phone:' : 'Confirm Phone:'}
                        .control
                            input.input(id='phone' type='tel' name='phone' required=!is_update_form)
                    .field
                        label.label #{is_update_form ? 'Confirm New Address:' : 'Confirm Address:'}
                        .control
                            input.input(id='address' type='text' name='address' required=!is_update_form)
                    .field
                        label.label #{is_update_form ? 'Confirm New Address 2:' : 'Confirm Address 2:'}
                        .control
                            input.input(id='address2' type='text' name='address2' required=is_update_form)
                    .field
                        label.label #{is_update_form ? 'Confirm New City:' : 'Confirm City:'}
                        .control
                            input.input(id='city' type='text' name='city' required=!is_update_form)
                    .field
                        label.label #{is_update_form ? 'Confirm New State:' : 'Confirm State:'}
                        .control
                            select.input(type='select' placeholder='Select State' name='state')
                                option(value='CT' selected=(undefined === user || user.state != 'CT' ? false : 'selected')) CT
                                option(value='MA' selected=(undefined === user || user.state != 'MA' ? false : 'selected')) MA
                                option(value='ME' selected=(undefined === user || user.state != 'ME' ? false : 'selected')) ME
                                option(value='NH' selected=(undefined === user || user.state != 'NH' ? false : 'selected')) NH
                                option(value='RI' selected=(undefined === user || user.state != 'RI' ? false : 'selected')) RI
                    .field
                        label.label #{is_update_form ? 'Confirm New Zip Code:' : 'Confirm Zip Code:'}
                        .control
                            input.input(id='zipcode' type='text' name='zipcode' required=!is_update_form)
                    .field
                        .control
                            // type='submit'
                            button.is-primary(type='submit')
                                | Register
                    br
                    br
                    br
                    if errors
                        ul
                            for error in errors
                                li!= error.msg
            .column.is-one-third