extends layout

block content
	section.section
		.container
			include components/title_user
			include components/panel
			.columns
				.column.is-one-quarter
					include components/sidebar
				.column.is-three-quarters
					include components/map
					br
					if favorites_list && isAuthenticated
						each favorites in favorites_list
							.box
								article.media
									figure.media-left
										figure.image.is-128x128
											a(href='/yardsales/' + favorites.yardsale._id)
												if (favorites.yardsale.imagename !== undefined && favorites.yardsale.imagename !== '' && favorites.yardsale.imagename !== null)
													img(src='https://'+process.env.S3_IMAGES_URL+'/'+favorites.yardsale.user.username+'/'+favorites.yardsale.imagename alt='favorite yard sale')
												else
													img(src=process.env.S3_STATIC_URL+'/img/yardsale_poster.jpg' alt='yard sale')
									.media-content
										.content
											p Location:&nbsp;&nbsp;
												strong #{favorites.yardsale.full_address}
											p Date:&nbsp;&nbsp;
												strong #{favorites.yardsale.date.toDateString()}
											p Host:&nbsp;&nbsp;
												strong #{favorites.yardsale.user.username}
											p #{favorites.yardsale.description}
										nav.level.is-mobile
											.level-left
												a.level-item(href='/yardsales/' + favorites.yardsale._id) view details
									.media-right
										form(method='POST' action='')
											input(type='hidden' name='favId' required='true' value=favorites._id)
											input(type='hidden' name='yardsaleId' value=favorites.yardsale._id)
											input(type='hidden' name='userId' value=favorites.user._id)
											button.button.is-danger.is-rounded(type='submit')
												span.icon
													i.fas.fa-trash
					else
						h1.subtitle.has-text-centered
							strong.has-text-danger You have not added any yard sales to your favorites yet.
