extends layout

block content
	// Main content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong #{user.username} | #{title}
			.tabs.is-centered.is-boxed
				ul
					li.is-active
						a(href='/users/' + user._id + '/update')
							span.icon.is-small
								i.fas.fa-pen(aria-hidden='true')
							span edit
					li
						a(href='/users/' + user._id)
							span.icon.is-small
								i.fas.fa-bookmark(aria-hidden='true')
							span yardsales
					li
						a(href='/users/' + user._id + '/favorites')
							span.icon.is-small
								i.fas.fa-heart(aria-hidden='true')
							span favorites
			.columns
				.column.is-one-quarter
					include sidebar

				.column.is-three-quarters
					form(method='post' enctype='multipart/form-data')
						.field
							label.label Add Image
							.control
								.file.is-link
									label.file-label(for=file)
										input.file-input(type='file' id='file' name='profilepic')
										//input.file-input(type='file' id='file' name='profilepic' value=user.username+'/'+user.profilepic)
										span.file-cta
											span.file-icon
												i.fas.fa-upload
											span.file-label
												| Upload image&mldr;
										span.file-name(id='filename') no file selected
										br
										//input(type='image' name='profilepic')

						.field
							.control
								br
								button.button.is-link(type='submit') Upload
								//.divider
								//button.button.is-danger(type='cancel') Cancel
								br

						if errors
							ul
								for error in errors
									li!= error.msg

	script(src='/js/select_image_name.js')


