extends layout

block content
	// Main content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong #{title} | #{yardsale.address}
			.tabs.is-centered.is-boxed
				ul
					li
						a(href='/users/' + yardsale.user._id + '/update')
							span.icon.is-small
								i.fas.fa-pen(aria-hidden='true')
							span edit
					li.is-active
						a(href='/users/' + yardsale.user._id)
							span.icon.is-small
								i.fas.fa-bookmark(aria-hidden='true')
							span yardsales
					li
						a(href='/users/' + yardsale.user._id + '/favorites')
							span.icon.is-small
								i.fas.fa-heart(aria-hidden='true')
							span favorites
			.columns
				.column.is-one-quarter
					include sidebar2

				.column.is-three-quarters
					p #[strong Host Name: ] #{yardsale.user.firstName} #{yardsale.user.lastName}
					br
					p #[strong Address: ] #{yardsale.full_address}
					br
					p #[strong Date: ] #{yardsale.date}
					br
					p #[strong Start Time: ] #{yardsale.starttime}
					br
					p #[strong End Time: ] #{yardsale.endtime}
					br
					p #[strong Description: ] #{yardsale.description}
					br
					figure.image.is-256x256
						if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
							img(src='https://s3.amazonaws.com/yardy-pics/' + yardsale.user.username + '/' +
							yardsale.imagename alt='yard sale image')
						else
							img(src='/images/yardsale_poster.jpg' alt='preview')
					hr
					p Do you really want to delete this Yardsale?
					br
					form(method='post' action='')
						input(type='hidden' name='id' required='true' value=yardsale._id )
						button.button.is-danger(type='submit') Delete
