extends layout

block content
	// Main content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong #{title} | #{yardsale.address}
			.tabs.is-centered.is-boxed
				ul
					li.is-active
						a(href='/users/' + yardsale.user._id + '/update')
							span.icon.is-small
								i.fas.fa-pen(aria-hidden='true')
							span edit
					li
						a(href='/users/' + yardsale.user._id)
							span.icon.is-small
								i.fas.fa-bookmark(aria-hidden='true')
							span yardsales
					li
						a(href='/users/' + yardsale.user._id + '/favorites')
							span.icon.is-small
								i.fas.fa-heart(aria-hidden='true')
							span favorites
			.columns
				.column.is-one-quarter
					include sidebar

				.column.is-three-quarters

					p #[strong Address: ] #{yardsale.full_address}
					br
					p #[strong Date: ] #{yardsale.date}
					br
					p #[strong Start Time: ] #{yardsale.starttime}
					br
					p #[strong End Time: ] #{yardsale.endtime}
					br
					p #[strong Host Name: ] #{yardsale.user.firstName} #{yardsale.user.lastName}
					br
					p #[strong Username: ]
						a(href='/users/'+user._id) #{yardsale.user.username}
					br
					p #[strong Description: ] #{yardsale.description}
					hr
					p Do you really want to delete this Yardsale?

					form(method='POST' action='')
						div.form-group
							input#id.form-control(type='hidden' name='yardsaleid' required='true' value=yardsale._id )
						br
						a.button.is-danger(type='submit') Delete
