extends layout

block content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong= title
			if yardsale_list && isAuthenticated
				each yardsale in yardsale_list
					article.media
						figure.media-left
							p.image.is-128x128
								a(href='/yardsales/' + yardsale._id)
									if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
										img(src='https://s3.amazonaws.com/yardy-pics/' + yardsale.user.username + '/' +
										yardsale.imagename alt='profile picture')
									else
										img(src='/images/yardsale_poster.jpg' alt='profile picture')
						.media-content
							.content
								p Location:&nbsp;&nbsp;
									strong #{yardsale.full_address}
								p Date:&nbsp;&nbsp;
									strong #{yardsale.date.toDateString()}&nbsp;
								p #{yardsale.description}
							nav.level.is-mobile
								.level-left
									a.level-item(href='/yardsales/' + yardsale._id) view details
						.media-right
							a.button.is-link.is-rounded
								span.icon
									i.fas.fa-star
			else
				h1.subtitle.has-text-centered
					strong.has-text-danger Please sign in to view more details about our yard sales.
				each yardsale in yardsale_list
					article.media
						figure.media-left
							figure.image.is-128x128
								if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
									img(src='https://s3.amazonaws.com/yardy-pics/' + yardsale.user.username + '/' +
									yardsale.imagename alt='yard sale')
								else
									img(src='/images/yardsale_poster.jpg' alt='yard sale')
						.media-content
							.content
								p Locaion:&nbsp;&nbsp;
									strong #{yardsale.city}, #{yardsale.state}&nbsp;
								p Date:&nbsp;&nbsp;
									strong #{yardsale.date.toDateString()}
								p #{yardsale.description}
						.media-right
