extends layout

block content
	// Main content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong= title

			.tabs.is-centered.is-boxed
				ul
					li
						a(href='/users/' + user._id + '/update')
							span.icon.is-small
								i.fas.fa-pen(aria-hidden='true')
							span edit profile
					li.is-active
						a(href='/users/' + user._id)
							span.icon.is-small
								i.fas.fa-bookmark(aria-hidden='true')
							span yardsales
					li
						a(href='/users/' + user._id + '/favorites')
							span.icon.is-small
								i.fas.fa-heart(aria-hidden='true')
							span favorites

			.columns
				.column.is-one-quarter
					if isAuthenticated
						include sidebar

				.column.is-three-quarters
					if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
						img.is-128x128(src='https://s3.amazonaws.com/yardy-pics/' + user.username + '/' +
						yardsale.imagename alt='profile picture')
					else
						img.is-128x128(src='/images/yardsale_poster.jpg' alt='profile picture' )
					br
					br
					p #[strong Username: ] #{yardsale.user.username}
					hr
					h1.subtitle #[strong Date & Time]
					p #[strong Date: ] #{yardsale.date}
					p #[strong Start Time: ] #{yardsale.starttime}
					p #[strong End Time: ] #{yardsale.endtime}
					hr
					h1.subtitle #[strong Contact Info]
					p #[strong First Name: ] #{yardsale.user.firstName}
					p #[strong Last Name: ] #{yardsale.user.lastName}
					p #[strong Phone: ] #{yardsale.phone}
					p #[strong Email: ] #{yardsale.user.email}
					hr
					h1.subtitle #[strong Location]
					p #[strong Address: ] #{yardsale.address}
					p #[strong Address 2: ] #{yardsale.address2}
					p #[strong City: ] #{yardsale.city}
					p #[strong State: ] #{yardsale.state}
					p #[strong Zip Code: ] #{yardsale.zipcode}
					hr
					h1.subtitle #[strong Description]
					p #{yardsale.description}
					hr

					if isAuthenticated
						if (user.username === yardsale.user.username)
							a.button.is-link(href=yardsale._id + '/update') Update Yardsale
							.divider
							a.button.is-danger(href=yardsale._id + '/delete') Delete Yardsale


