extends layout

block content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong= title

			if yardsale_list && isAuthenticated
				each yardsale in yardsale_list
					article.media
						figure.media-left
							p.image.is-128x128
								a(href='/catalog/yardsale/' + yardsale._id)
									if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
										img(src='https://s3.amazonaws.com/yardy-pics/' + yardsale.user.username + '/' +
										yardsale.imagename alt='profile picture')
									else
										img(src='/images/yardsale_poster.jpg' alt='profile picture')
						.media-content
							.content
								p
									strong #{yardsale.city}, #{yardsale.state}&nbsp;
									small #{yardsale.date}&nbsp;@&nbsp;
									small #{yardsale.starttime}
									br
								p Posted by #{yardsale.user.username}
								p #{yardsale.description}
							nav.level.is-mobile
								.level-left
									a.level-item
										span.icon.is-small
											i.fas.fa-envelope
									a.level-item
										span.icon.is-small
											i.fab.fa-twitter
									a.level-item
										span.icon.is-small
											i.fas.fa-heart
						.media-right
							a.button.is-link Add
			else
				h1.subtitle.has-text-centered.has-text-danger Please sign in to view more details about our yard sales!
				each yardsale in yardsale_list
					article.media
						figure.media-left
							p.image.is-128x128
								if (yardsale.imagename !== undefined && yardsale.imagename !== '' && yardsale.imagename !== null)
									img(src='https://s3.amazonaws.com/yardy-pics/' + yardsale.user.username + '/' +
									yardsale.imagename alt='profile picture')
								else
									img(src='/images/yardsale_poster.jpg' alt='profile picture')
						.media-content
							.content
								p
									strong #{yardsale.state}&nbsp;
									small #{yardsale.date}
									br
								p #{yardsale.description}
						.media-right
