extends layout

block content
	.container
		h1.subtitle.has-text-centered
			strong= title

		ul
		each yardsale in yardsale_list
			li
				div
					// Hard coded images for now
					img(src='https://s3.amazonaws.com/yardy123/naricci/yardsale.jpg' alt='picture of yardsale' height=100 width=100)
					h2 #{yardsale.date.toDateString()}
					p #{yardsale.username},
						a(href=yardsale.url)  #{yardsale.address}
						| #{yardsale.firstname}

		else
			li There are no yardsales.
