extends layout

block content
	// Main content
	.container
		.columns
			.column.is-one-third
			.column.is-one-third
				h1 #{title}: #{yardsale.title}

				img(src=yardsale.imagename alt='yardsale preview')
				p #[strong Username:]
					a(href=yardsale.username.url) #{yardsale.username}
				p #[strong First Name:] #{yardsale.firstname}
				p #[strong Last Name:] #{yardsale.lastname}

				p #[strong Address:] #{yardsale.address}
				hr
				p
					a(href=yardsale.url+'/delete') Delete Yardsale
				p
					a(href=yardsale.url+'/update') Update Yardsale
			.column.is-one-third