extends layout

block content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong= title

			if yardsale_list
				each yardsale in yardsale_list
					article.media
						figure.media-left
							p.image.is-64x64
								img(src='https://s3.amazonaws.com/yardy123/naricci/yardsale.jpg' alt='picture of yardsale')
						.media-content
							.content
								p
									strong #{yardsale.city}&nbsp;
									small #{yardsale.date.toDateString()}&nbsp;@&nbsp;
									small #{yardsale.starttime}
									br
									#{yardsale.description}
							nav.level.is-mobile
								.level-left
									a.level-item
										span.icon.is-small
											i.fas.fa-reply
									a.level-item
										span.icon.is-small
											i.fas.fa-retweet
									a.level-item
										span.icon.is-small
											i.fas.fa-heart
						.media-right
							button.delete

			else
				p
					strong There are no yardsales.
